# =============================================================================
#  Weekly Version Check To Update
# =============================================================================
# This workflow runs weekly, builds the latest SQLite source code and updates
# the version file.
#
# If all tests are successful and the SQLite version has changed, a new Pull
# Request is created to update the version file.
#
# NOTE:
# You need to set the `PERSONAL_ACCESS_TOKEN` environment variable in the repo's
# settings at GitHub:
#     [Settings]-[Secrets]-[Actions secrets]
#
# To generate a new token go to:
#     https://github.com/settings/tokens
#     * You need add the "repo" scope to the token but no more.
# =============================================================================
name: Weekly Update

on:
  workflow_dispatch:
  schedule:
    # Runs at 20:00 UTC on Sun (JST: AM 05:00 on every Monday)
    - cron: '0 20 * * SUN'

jobs:
  automated_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update VERSION_SQLite3.txt
        run: ./check-updates.sh

      - name: Create pull request on any file change
        uses: peter-evans/create-pull-request@v4
        with:
            token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
